<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ExamController</servlet-name>
  	<display-name>ExamController</display-name>
  	<description></description>
  	<servlet-class>org.examination.ExamController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>org.examination.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamController</servlet-name>
  	<url-pattern>/ExamController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
</web-app>
